.nintendo-switch-container {
    width: 100%;
    height: 100%;
    margin-right: auto;
    /* background-color: gray; */
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nintendo Switch Lite · Width: 208 mm (8.2 in) · Height: 91 mm (3.6 in) */

.nintendo-switch-inner-container {
    position: relative;
    width: 936px;
    height: 409px;
    z-index: 6;
    display: grid;
    /* grid-template-areas: 'left middle right'; */
    grid-template-columns: 15% auto 15%;
}


/* AREAS */

/* left control  */
.left-area {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: #71747b;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
}

.minus-button-area {
    grid-row: 1 / 2;
    /* display: flex; */
    position: relative;
    /* background-color: wheat; */
}

.l-button {
    width: 122px;
    height: 45px;
    border-top-left-radius: 60px;
    border-left: solid 12px #fff;
    border-top: solid 12px #fff;
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;
}

.minus-button{
    height: 5px;
    width: 23px;
    background-color: #fff;
    position: absolute;
    top: 46px;
    left: auto;
    right: 5px;
}

.left-stick-area {
    grid-row: 2 / 3;
    background-color: beige;
}

.left-directional-buttons-area {
    grid-row: 3 / 4;
    background-color: yellow;
}

.capture-button-area {
    grid-row: 4 / 5;
    background-color: blueviolet;
}

.left-button {
    position: relative;
    background-color: white;
    height: 10px;
    width: 100px;
    z-index: 7;
}

/* screen */
.middle-area {
    padding: 10px 5px;
    /* background-color: #71747b; */
    background-color: #446bc7;
}

.screen-border {
    width: 100%;
    height: 100%;
    background: #55575c;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.touch-screen {
    background-color: #2f2f2f;
    width: 90%;
    height: 88%;
    border: solid 4px #000;
}

/* right control */
.right-area {
    background-color: blue;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
}

.plus-button-area {
    grid-row: 1 / 2;
    background-color: aliceblue;
}

.right-letters-buttons-area {
    grid-row: 2 / 3;
    background-color: darkcyan;
}

.right-stick-area {
    grid-row: 3 / 4;
    background-color: yellow;
}

.home-button-area {
    grid-row: 4 / 5;
    background-color: coral;
}

/* .right-button {
    position: relative;
    background-color: white;
    height: 10px;
    width: 100px;
    z-index: 7;
    /* align-content: flex-end; */
} */